Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

feat: Implement Gmail OAuth2 email service for modern authentication
  backend/app/main.py
  backend/app/services/oauth2_email_service.py
  backend/requirements.txt
  frontend/src/pages/AdminPage.js
Labels: backend, frontend, dependencies

fix: Fix JSX syntax error in AdminPage SMTP section
  frontend/src/pages/AdminPage.js
Labels: frontend

fix: Configure OAuth2 redirect URI for Vercel deployment
  backend/app/main.py
  backend/app/services/oauth2_email_service.py
Labels: backend

fix: Enhance CORS configuration for Vercel frontend
  backend/app/main.py
Labels: backend

fix: Enhance Google Sheets sync endpoints with GHIN integration
  backend/app/main.py
Labels: backend

fix: Remove poker branding and add comprehensive game history
  frontend/src/components/GameHistory.js
  frontend/src/components/game/UnifiedGameInterface.js
  frontend/src/components/simulation/PokerBettingPanel.js
  frontend/src/components/simulation/Timeline.js
Labels: frontend

fix: Fix OAuth2 callback URL configuration for production deployment
  backend/app/main.py
  backend/app/services/oauth2_email_service.py
  frontend/src/pages/AdminPage.js
  render.yaml
Labels: backend, frontend

fix: Resolve OAuth2 callback token exchange issues
  backend/app/services/oauth2_email_service.py
  backend/data/.gitignore
Labels: backend

fix: Correct backend URL for OAuth callbacks
  backend/app/services/oauth2_email_service.py
  render.yaml
Labels: backend

fix: Improve OAuth redirect URI detection and add logging
  backend/app/services/oauth2_email_service.py
Labels: backend

fix: Enable redirect following for Google Sheets CSV exports
  backend/app/main.py
Labels: backend

fix: Improve OAuth2 credential persistence and reloading
  backend/app/services/oauth2_email_service.py
Labels: backend

fix: Add missing GHINService imports in GHIN endpoints
  backend/app/main.py
Labels: backend

feat: Add enhanced practice mode with prominent player decisions
  frontend/src/App.js
  frontend/src/components/Navigation.js
  frontend/src/components/practice/EnhancedPracticeMode.css
  frontend/src/components/practice/EnhancedPracticeMode.js
Labels: frontend

feat: Replace silly hole visualization with strategic display
  frontend/src/components/EnhancedWGPInterface.js
  frontend/src/components/HoleStrategyDisplay.css
  frontend/src/components/HoleStrategyDisplay.js
  frontend/src/components/game/UnifiedGameInterface.js
Labels: frontend

fix: Fix Vercel deployment error and enhance API endpoints
  CLAUDE.md
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/__pycache__/models.cpython-313.pyc
  backend/app/main.py
  backend/app/services/__pycache__/auth_service.cpython-313.pyc
  backend/app/services/__pycache__/email_service.cpython-313.pyc
  backend/app/services/__pycache__/ghin_service.cpython-313.pyc
  backend/app/services/__pycache__/oauth2_email_service.cpython-313.pyc
  backend/app/services/__pycache__/player_service.cpython-313.pyc
  backend/tests/__pycache__/test_api_integration.cpython-313-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_betting_state.cpython-313-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_game_state.cpython-313-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_models_schemas.cpython-313-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_performance.cpython-313-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_player_service.cpython-313-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_simulation_integration.cpython-313-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_simulation_unit.cpython-313-pytest-8.4.1.pyc
  frontend/src/components/practice/EnhancedPracticeMode.js
  test_all_routes.py
  test_sync_endpoints.py
Labels: backend, frontend, documentation, tests

fix: Correct Card component import to use default export
  CLAUDE.md
  frontend/src/components/practice/EnhancedPracticeMode.js
Labels: frontend, documentation

fix: Resolve all ESLint warnings in frontend components
  frontend/src/components/practice/EnhancedPracticeMode.js
  frontend/src/components/signup/DailySignupView.js
  frontend/src/components/signup/PlayerAvailability.js
  frontend/src/components/signup/SignupCalendar.js
  frontend/src/components/simulation/EnhancedSimulationLayout.js
  frontend/src/components/simulation/FeedAnalyzer.js
  frontend/src/components/simulation/PokerBettingPanel.js
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/tutorial/TutorialOverlay.js
Labels: frontend

feat: Add player availability visibility feature
  backend/app/main.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.9751304d.css
  frontend/build/static/css/main.9751304d.css.map
  frontend/build/static/css/main.b2653b11.css
  frontend/build/static/css/main.b2653b11.css.map
  frontend/build/static/js/main.0f8a21e7.js
  frontend/build/static/js/main.0f8a21e7.js.map
  frontend/build/static/js/main.4a075455.js
  frontend/build/static/js/main.4a075455.js.LICENSE.txt
  frontend/build/static/js/main.4a075455.js.map
  frontend/src/components/signup/AllPlayersAvailability.js
  frontend/src/pages/SignupPage.js
Labels: backend, frontend

feat: Add automatic golf matchmaking with email notifications
  backend/app/main.py
  backend/app/models.py
  backend/app/services/__pycache__/matchmaking_service.cpython-312.pyc
  backend/app/services/email_scheduler.py
  backend/app/services/matchmaking_service.py
  frontend/src/components/signup/MatchmakingSuggestions.js
  frontend/src/pages/SignupPage.js
Labels: backend, frontend

fix: Resolve availability saving and improve UI differentiation
  backend/app/main.py
  backend/app/models.py
  frontend/src/components/signup/AllPlayersAvailability.js
  frontend/src/components/signup/MatchmakingSuggestions.js
  frontend/src/components/signup/PlayerAvailability.js
Labels: backend, frontend

test: Complete comprehensive bug testing and fixes
  backend/app/services/__pycache__/auth_service.cpython-312.pyc
  backend/app/services/__pycache__/email_service.cpython-312.pyc
  backend/app/services/__pycache__/oauth2_email_service.cpython-312.pyc
  backend/app/services/email_service.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.4a075455.js
  frontend/build/static/js/main.4a075455.js.map
  frontend/build/static/js/main.d5c95bfa.js
  frontend/build/static/js/main.d5c95bfa.js.LICENSE.txt
  frontend/build/static/js/main.d5c95bfa.js.map
Labels: backend, frontend

fix: Resolve browser back button navigation issues
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.6b76add5.js
  frontend/build/static/js/main.6b76add5.js.LICENSE.txt
  frontend/build/static/js/main.6b76add5.js.map
  frontend/build/static/js/main.d5c95bfa.js
  frontend/build/static/js/main.d5c95bfa.js.map
  frontend/src/App.js
  frontend/src/components/Navigation.js
  frontend/src/components/signup/PlayerAvailability.js
  frontend/src/pages/SignupPage.js
Labels: frontend

test: Add comprehensive JavaScript test suite
  frontend/TEST_REPORT.md
  frontend/src/components/__tests__/Navigation.test.js
  frontend/src/components/signup/__tests__/AllPlayersAvailability.test.js
  frontend/src/components/signup/__tests__/MatchmakingSuggestions.test.js
  frontend/src/components/signup/__tests__/PlayerAvailability.test.js
  frontend/src/pages/__tests__/SignupPage.test.js
  frontend/src/setupTests.js
  frontend/src/utils/__tests__/api.test.js
Labels: frontend, documentation, tests

feat: Implement turn-based Wolf Goat Pig practice mode
  backend/app/main.py
  docs/stories/story-006-simulation-mode.md
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/simulation/TurnBasedInterface.js
  frontend/src/components/simulation/index.js
Labels: backend, frontend, documentation

test: Add comprehensive Wolf Goat Pig round generation test suite
  WGP_ROUND_TEST_SUMMARY.md
  test_data/full_wgp_round_expected.json
  test_results/wgp_round_test_results.json
  test_wgp_round_generation.py
Labels: documentation, tests

feat: Integrate real Wing Point Golf & Country Club course data
  backend/app/data/__pycache__/wing_point_course_data.cpython-312.pyc
  backend/app/data/wing_point_course_data.py
  backend/app/main.py
  backend/app/state/__pycache__/course_manager.cpython-312.pyc
  backend/app/state/course_manager.py
  backend/app/wolf_goat_pig_simulation.py
  frontend/src/components/HoleVisualization.js
Labels: backend, frontend

fix: Correct Wing Point holes 17 and 18 pars
  backend/app/data/__pycache__/wing_point_course_data.cpython-312.pyc
  backend/app/data/wing_point_course_data.py
  frontend/src/components/HoleVisualization.js
Labels: backend, frontend

feat: Add comprehensive post-hole analytics system
  backend/app/main.py
  backend/app/post_hole_analytics.py
  frontend/src/components/analytics/PostHoleAnalytics.js
  frontend/src/hooks/usePostHoleAnalytics.js
Labels: backend, frontend

test: Add comprehensive test suite for post-hole analytics
  backend/test_analytics_scenarios.py
  backend/test_post_hole_analytics.py
Labels: backend, tests

test: Add comprehensive unit tests for post-hole analytics
  backend/tests/__pycache__/test_post_hole_analytics.cpython-312-pytest-7.4.4.pyc
  backend/tests/test_post_hole_analytics.py
Labels: backend, tests

test: Add comprehensive page-level tests for Wolf Goat Pig app
  frontend/src/components/__tests__/SimulationMode.test.js
  frontend/src/components/__tests__/WGPAnalyticsDashboard.test.js
  frontend/src/pages/__tests__/AboutPage.test.js
  frontend/src/pages/__tests__/AdminPage.test.js
  frontend/src/pages/__tests__/GamePage.test.js
  frontend/src/pages/__tests__/HomePage.test.js
  frontend/src/pages/__tests__/RulesPage.test.js
  frontend/src/pages/__tests__/SetupPage.test.js
Labels: frontend, tests

fix: Fix Wolf Goat Pig simulation to enable game progression
  backend/app/main.py
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/simulation/TurnBasedInterface.js
Labels: backend, frontend

test: Add comprehensive test framework for Wolf Goat Pig simulation mode
  backend/tests/simulation/test_betting_logic.py
  backend/tests/simulation/test_game_state.py
  backend/tests/simulation/test_simulation_scenarios.py
  tests/e2e/test_simulation_e2e_new.py
  tests/simulation/test_betting_logic.py
  tests/simulation/test_game_state.py
  tests/simulation/test_simulation_scenarios.py
Labels: backend, tests

fix: Critical production readiness fixes for 100% functionality
  .env.example
  PRODUCTION_SETUP.md
  backend/app/main.py
  backend/app/services/auth_service.py
Labels: backend, documentation, configuration

feat: Complete GHIN integration with optional configuration
  .env.example
  PRODUCTION_SETUP.md
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/__pycache__/models.cpython-313.pyc
  backend/app/data/__pycache__/wing_point_course_data.cpython-313.pyc
  backend/app/services/__pycache__/auth_service.cpython-313.pyc
  backend/app/services/__pycache__/email_scheduler.cpython-313.pyc
  backend/app/services/__pycache__/email_service.cpython-313.pyc
  backend/app/services/ghin_service.py
  backend/app/state/__pycache__/course_manager.cpython-313.pyc
  backend/tests/simulation/__pycache__/test_betting_logic.cpython-313-pytest-8.4.1.pyc
  backend/tests/simulation/__pycache__/test_game_state.cpython-313-pytest-8.4.1.pyc
  backend/tests/simulation/__pycache__/test_simulation_scenarios.cpython-313-pytest-8.4.1.pyc
  render.yaml
Labels: backend, documentation, tests, configuration

fix: Add authentication gate at app level
  frontend/src/App.js
Labels: frontend

feat: Add authentication splash screen for first-time users
  frontend/src/App.js
Labels: frontend

fix: Fix game setup and scoring functionality
  frontend/src/components/Navigation.js
  frontend/src/components/game/UnifiedGameInterface.js
  frontend/src/pages/HomePage.js
Labels: frontend

fix: Resolve JavaScript hoisting errors in React hooks
  frontend/src/components/game/GameSetupForm.js
  frontend/src/hooks/useOddsCalculation.js
  frontend/src/hooks/usePlayerProfile.js
Labels: frontend

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'
