Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'

Optimize pre-push hook: remove simulation-specific tests
  .husky/pre-push
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: documentation

Add startup delay for database initialization
  render.yaml
Labels: none

Add course data update endpoints for in-progress games
  backend/app/main.py
  backend/app/routers/course_data_update.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/manifest.json
  frontend/build/service-worker.js
  frontend/build/static/css/main.3ab4076c.css
  frontend/build/static/css/main.3ab4076c.css.map
  frontend/build/static/js/main.bdaa577c.js
  frontend/build/static/js/main.bdaa577c.js.LICENSE.txt
  frontend/build/static/js/main.bdaa577c.js.map
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: backend, frontend, documentation

Add Creecher stroke indicators to scorecard table
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

Update course data endpoints and game creation
  backend/app/main.py
  backend/app/routers/course_data_update.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.3bcfa682.js
  frontend/build/static/js/main.3bcfa682.js.LICENSE.txt
  frontend/build/static/js/main.3bcfa682.js.map
  frontend/build/static/js/main.bdaa577c.js
  frontend/build/static/js/main.bdaa577c.js.map
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: backend, frontend, documentation

Add proper Hole model with Course relationships for handicap calculations
  backend/app/migrations/__init__.py
  backend/app/migrations/add_holes_from_json.py
  backend/app/models.py
  backend/app/routers/courses.py
  backend/app/seed_data.py
Labels: backend

Integrate Scorecard component with click-to-edit functionality for scores
  backend/app/main.py
  frontend/src/components/game/SimpleScorekeeper.jsx.backup
Labels: backend, frontend

Remove backup file
  frontend/src/components/game/SimpleScorekeeper.jsx.backup
Labels: frontend

Add manual override controls for scores and quarters
  backend/app/main.py
  frontend/src/components/game/Scorecard.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: backend, frontend

Configure automatic database migration on production deployment
  render.yaml
Labels: none

Revert SimpleScorekeeper to restore par/handicap rows and Creecher stroke indicators
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

Fix scorecard to display proper par and handicap from course data
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

Fix course data fetching to handle object response
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

Fix Wing Point par values in fallback course data
  backend/app/routers/courses.py
Labels: backend

Fix Render backend startup by adding robust startup script
  backend/render-startup.py
  render.yaml
Labels: backend

Fix Render backend startup hanging issue
  backend/render-startup.py
Labels: backend

Fix Render deployment error by removing redundant runtime field
  render.yaml
Labels: none

Fix scorecard par values by properly loading course data into games
  backend/app/main.py
Labels: backend

Add comprehensive debug logging and visual feedback to game deletion
  frontend/src/pages/ActiveGamesPage.js
Labels: frontend

Fix scorecard par values by updating holePar from course data
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

Remove deprecated sample game seeding code
  backend/app/seed_data.py
Labels: backend

Fix scorecard to display correct par values from course data
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

Fix Wing Point par values and scorecard totals
  backend/app/fix_wing_point_data.py
  backend/app/seed_courses.py
  backend/app/seed_data.py
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: backend, frontend

feat: Enforce player order selection in game setup flow
  frontend/src/components/game/GameSetupForm.js
Labels: frontend

chore: Clean up broken test files and remove accidental recursive directory
  backend/app/backend/app/validators/betting_validator.py
  backend/app/backend/app/validators/game_state_validator.py
  backend/app/backend/app/validators/handicap_validator.py
  backend/app/backend/app/validators/test_game_state_validator.py
  backend/app/manual_test_simplified_scoring.py
  backend/app/validators/manual_test_game_state_validator.py
  backend/manual_ghin_test.py
  backend/manual_test_full_round_api.py
  backend/manual_test_scoring_mode.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/manifest.json
  frontend/build/service-worker.js
  frontend/build/static/css/main.3ab4076c.css
  frontend/build/static/css/main.3ab4076c.css.map
  frontend/build/static/js/main.3bcfa682.js
  frontend/build/static/js/main.3bcfa682.js.LICENSE.txt
  frontend/build/static/js/main.3bcfa682.js.map
  inspect_db.py
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: backend, frontend, documentation, tests

Fix scorecard to prioritize course data pars over hole history
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

fix: Reduce failed attempts at loading course par data
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

refactor: Convert holePar from state to derived value
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

fix: Use correct hole handicap field from course data
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

fix: Standardize hole handicap field name across frontend and backend
  backend/app/routers/courses.py
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: backend, frontend

fix: Replace undefined defaultStrokeIndex with strokeIndex
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

chore: Update package-lock.json after npm install
  frontend/package-lock.json
Labels: frontend, dependencies

chore: Add build directory to .gitignore
  frontend/.gitignore
Labels: frontend

fix: Scorecard components now read par/handicap only from course database
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/components/game/MobileScorecard.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

refactor: Remove default fallbacks for par/handicap values in scorecards
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/components/game/MobileScorecard.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

fix: Add loading states to prevent scorecard race condition
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/components/game/MobileScorecard.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

fix: Prevent wrong Creecher calculations from strokeIndex fallback
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

fix: Move early return after all React Hooks in MobileScorecard
  frontend/src/components/game/MobileScorecard.jsx
Labels: frontend

fix: Resolve PWA errors and course data loading issues
  .gitignore
  frontend/public/manifest.json
  frontend/public/service-worker.js
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/components/game/MobileScorecard.jsx
Labels: frontend

fix: Replace all hardcoded /api/ URLs with API_URL environment variable
  frontend/src/components/BadgeGallery.js
  frontend/src/components/BettingOddsPanel.js
  frontend/src/components/PerformanceAnalytics.js
  frontend/src/components/PlayerProfileManager.js
  frontend/src/components/PlayerStatistics.js
  frontend/src/components/simulation/MonteCarloSimulation.js
  frontend/src/hooks/useOddsCalculation.js
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/hooks/usePostHoleAnalytics.js
Labels: frontend
