Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'

Fix leaderboard display issues
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: frontend

Redesign homepage with Wing Point Golf Course integration and new static pages
  .playwright-mcp/wing-point-logo.png
  frontend/src/App.js
  frontend/src/pages/AboutPage.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/RulesPage.js
Labels: frontend

Implement improved daily signup view with tee times and player selection
  frontend/src/components/signup/DailySignupView.js
  frontend/src/components/signup/SignupCalendar.js
  frontend/src/pages/SignupPage.js
Labels: frontend

Simplify daily signup view to show actual signups, tee times, and messages
  .playwright-mcp/wolf-goat-pig-signup-complete-test.png
  frontend/src/components/signup/DailySignupView.js
Labels: frontend

Integrate GHIN handicap data into leaderboard view
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
  backend/app/models.py
  backend/app/services/ghin_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/WGPAnalyticsDashboard.js
  frontend/src/services/ghinService.js
Labels: backend, frontend, dependencies

Display handicap next to player name in parentheses
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: frontend

Use last known GHIN handicap when API unavailable
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
  backend/app/services/ghin_service.py
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: backend, frontend

Fix 404 homepage error by adding React frontend serving
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
Labels: backend

Include frontend build files in deployment
  .gitignore
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.b2653b11.css
  frontend/build/static/css/main.b2653b11.css.map
  frontend/build/static/js/main.930369b3.js
  frontend/build/static/js/main.930369b3.js.LICENSE.txt
  frontend/build/static/js/main.930369b3.js.map
Labels: frontend

Fix frontend routing by moving catch-all route to end
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
Labels: backend

Add debug endpoint to check file paths in deployment
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
Labels: backend

Simplify to root route only for testing frontend deployment
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
Labels: backend

Add test-deployment endpoint to verify new deployments work
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
Labels: backend

feat: Implement SheetSyncContext for Google Sheets live sync
  .cursor/environment.json
  docs/CRUSH.md
  frontend/src/App.js
  frontend/src/context/SheetSyncContext.js
  frontend/src/context/index.js
  tests/e2e/playwright.config.js
  tests/e2e/tests/api-integration.spec.js
Labels: frontend, documentation, tests, configuration

refactor(frontend): Integrate Google Sheets live sync with Leaderboard
  frontend/src/components/GoogleSheetsLiveSync.js
  frontend/src/components/Leaderboard.js
Labels: frontend

refactor(backend): Finalize GHIN service and endpoints
  backend/app/main.py
  backend/app/services/ghin_service.py
Labels: backend

fix(backend): Update models and reorganize endpoints for GHIN integration
  backend/app/main.py
  backend/app/models.py
Labels: backend

feat(backend): Add database migration script for AI player columns
  backend/migrate_database.py
Labels: backend

fix: Hardcode Google Sheets URL and enable auto-sync for reliable integration
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.043942de.js
  frontend/build/static/js/main.043942de.js.LICENSE.txt
  frontend/build/static/js/main.043942de.js.map
  frontend/build/static/js/main.4f5a060c.js
  frontend/build/static/js/main.4f5a060c.js.map
  frontend/src/context/SheetSyncContext.js
Labels: frontend

fix: Improve Auth0 integration reliability with fallback to mock auth
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.043942de.js
  frontend/build/static/js/main.043942de.js.map
  frontend/build/static/js/main.84c413d4.js
  frontend/build/static/js/main.84c413d4.js.LICENSE.txt
  frontend/build/static/js/main.84c413d4.js.map
  frontend/src/components/auth/AuthHealthCheck.js
  frontend/src/components/auth/index.js
  frontend/src/context/AuthContext.js
Labels: frontend

feat: Enable real Auth0 authentication with enhanced debugging
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.84c413d4.js
  frontend/build/static/js/main.84c413d4.js.map
  frontend/build/static/js/main.f660d82b.js
  frontend/build/static/js/main.f660d82b.js.LICENSE.txt
  frontend/build/static/js/main.f660d82b.js.map
  frontend/src/context/AuthContext.js
  frontend/src/pages/HomePage.js
Labels: frontend

fix: Fix broken navigation links and improve mobile tests
  frontend/src/pages/HomePage.js
  tests/e2e/tests/mobile-simple.spec.js
Labels: frontend, tests

refactor: Streamline navigation and remove unnecessary features
  frontend/src/App.js
  frontend/src/pages/HomePage.js
Labels: frontend

feat: Make sign-up/login the primary focus of homepage
  frontend/src/pages/HomePage.js
Labels: frontend

feat: Update color palette to match Wing Point Golf Club hero image
  frontend/src/pages/HomePage.js
  frontend/src/theme/theme.js
Labels: frontend

feat: Implement complete email notification system
  backend/.env.example
  backend/app/main.py
  backend/app/services/email_service.py
  backend/requirements.txt
  frontend/src/components/signup/EmailPreferences.js
Labels: backend, frontend, dependencies, configuration

fix: Improve mobile navigation with responsive hamburger menu
  frontend/src/App.js
  frontend/src/components/Navigation.js
  tests/e2e/tests/mobile-navigation.spec.js
Labels: frontend, tests

fix: Fix deployment configurations for Render and Vercel
  .claude/create_prd.md
  backend/app/services/__pycache__/ghin_service.cpython-312.pyc
  backend/app/services/__pycache__/ghin_service.cpython-313.pyc
  backend/app/services/ghin_service.py
  backend/requirements.txt
  backend/test_ghin_integration.py
  backend/test_hole_completion.py
  frontend/src/components/GHINIntegration.js
  render.yaml
  vercel.json
Labels: backend, frontend, documentation, tests, dependencies

fix: Correct Vercel build configuration
  frontend/package.json
  vercel.json
Labels: frontend, dependencies

fix: Properly configure Python version for Render deployment
  render.yaml
Labels: none

fix: Enable .python-version file for Render deployment
  .gitignore
  backend/.python-version
Labels: backend

fix: Make health check more lenient during initial deployment
  backend/app/main.py
Labels: backend

fix: Critical startup handler bug - move seeding logic from shutdown to startup
  backend/app/main.py
Labels: backend

feat: Move email configuration out of startup blocking path
  backend/app/main.py
  frontend/src/components/EmailSettings.js
Labels: backend, frontend

fix: Add type checking to prevent 'e.match is not a function' error in Google Sheets sync
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/services/__pycache__/player_service.cpython-312.pyc
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.5e11e86d.js
  frontend/build/static/js/main.5e11e86d.js.LICENSE.txt
  frontend/build/static/js/main.5e11e86d.js.map
  frontend/build/static/js/main.d99bb340.js
  frontend/build/static/js/main.d99bb340.js.map
  frontend/src/context/SheetSyncContext.js
Labels: backend, frontend

debug: Add detailed logging for Google Sheets URL parsing
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.0f8a21e7.js
  frontend/build/static/js/main.0f8a21e7.js.LICENSE.txt
  frontend/build/static/js/main.0f8a21e7.js.map
  frontend/build/static/js/main.5e11e86d.js
  frontend/build/static/js/main.5e11e86d.js.map
  frontend/src/context/SheetSyncContext.js
Labels: frontend

fix: Update Google Sheets sync to parse actual spreadsheet data correctly
  backend/app/main.py
Labels: backend

fix: Correct leaderboard route to show proper Leaderboard component
  frontend/src/App.js
Labels: frontend

fix: Fix date display errors and add Sign Up to Play to main navigation
  frontend/src/components/Leaderboard.js
  frontend/src/components/Navigation.js
Labels: frontend

feat: Add comprehensive admin dashboard with email configuration
  backend/app/main.py
  backend/app/services/email_service.py
  frontend/src/App.js
  frontend/src/components/Navigation.js
  frontend/src/pages/AdminPage.js
Labels: backend, frontend
