Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'

fix: remove UUID type cast in SQLAlchemy models to fix query errors
  backend/app/models.py
Labels: backend

fix: move is_postgresql declaration outside migrations_needed block
  backend/app/main.py
Labels: backend

fix: add Vercel routing for React Router SPA
  frontend/vercel.json
Labels: frontend

fix: correct Vercel routing to serve static assets properly
  frontend/vercel.json
Labels: frontend

fix: use absolute paths for static assets in React build
  frontend/package.json
Labels: frontend, dependencies

feat: add player management for lobby (add/edit/remove)
  backend/app/main.py
  frontend/src/pages/GameLobbyPage.js
Labels: backend, frontend

refactor: extract courses router from main.py
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/courses.py
  backend/app/schemas.py
Labels: backend

docs: update ROUTER_EXTRACTION_PLAN.md with courses router completion
  backend/ROUTER_EXTRACTION_PLAN.md
Labels: backend, documentation

fix: allow any player to go solo, not just the Captain
  backend/app/main.py
Labels: backend

feat: add Commissioner Chat - on-field rules expert
  frontend/src/components/CommissionerChat.css
  frontend/src/components/CommissionerChat.js
  frontend/src/pages/GameLobbyPage.js
  frontend/src/pages/GamePage.js
  frontend/src/pages/GameScorerPage.js
Labels: frontend

refactor: remove redundant BettingTracker component
  frontend/src/pages/GamePage.js
Labels: frontend

refactor: remove redundant GameStateWidget component
  frontend/src/pages/GamePage.js
Labels: frontend

feat: add Course persistence and GET /games endpoint
  backend/app/main.py
  backend/app/routers/courses.py
  backend/app/state/course_manager.py
  backend/tests/test_enhanced_validation.py
Labels: backend, tests

feat: add game listing interfaces for active and completed games
  frontend/src/App.js
  frontend/src/components/Navigation.js
  frontend/src/pages/ActiveGamesPage.js
  frontend/src/pages/CompletedGamesPage.js
  frontend/src/pages/HomePage.js
Labels: frontend

feat: enhance navigation to Active Games and Game History
  frontend/src/pages/CreateGamePage.js
  frontend/src/pages/GameScorerPage.js
Labels: frontend

chore: trigger Vercel deployment
  frontend/vercel.json
Labels: frontend

fix: revert invalid vercel.json _comment field and trigger deployment
  frontend/src/pages/ActiveGamesPage.js
  frontend/vercel.json
Labels: frontend

fix: resolve React Hook exhaustive-deps ESLint warnings
  frontend/src/pages/ActiveGamesPage.js
  frontend/src/pages/CompletedGamesPage.js
Labels: frontend

feat: add navigation bar to game page
  frontend/src/pages/SimpleScorekeeperPage.js
Labels: frontend

feat: add game deletion functionality to Active and Completed Games pages
  backend/app/main.py
  frontend/src/pages/ActiveGamesPage.js
  frontend/src/pages/CompletedGamesPage.js
Labels: backend, frontend

feat: add UPDATE and DELETE endpoints for individual holes
  backend/app/main.py
Labels: backend

refactor: remove redundant Current Standings section
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

refactor: remove redundant standalone Wager display section
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

refactor: remove redundant Float & Option tracking section
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

fix: restore functional Float & Option tracking controls
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

refactor: clean up SimpleScorekeeper UI and update test reports
  frontend/package-lock.json
  frontend/src/components/game/SimpleScorekeeper.jsx
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: frontend, documentation, dependencies

fix: address code review critical issues - implicit team assignment, clearer validation, PlayerName component
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

refactor: remove duplicate wager display sections
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

docs: add Agent Q&A section clarifying Tunkarri availability
  docs/rules.txt
Labels: documentation

feat: restore detailed wager breakdown progression display
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

refactor: move demo/test pages to pages/demo folder
  frontend/src/pages/demo/GamePage.js
  frontend/src/pages/demo/GamePage.test.js
  frontend/src/pages/demo/README.md
  frontend/src/pages/demo/TestMultiplayerPage.js
  frontend/src/pages/index.js
Labels: frontend, documentation, tests

fix: update TestMultiplayerPage import path in App.js
  frontend/src/App.js
Labels: frontend

fix: remove demo pages from production build
  frontend/src/App.js
Labels: frontend

feat: add CSS files for badge notification system
  frontend/src/components/BadgeGallery.css
  frontend/src/components/BadgeNotification.css
Labels: frontend

feat: integrate BadgeNotificationManager into main app
  frontend/src/App.js
Labels: frontend

feat: integrate achievement/badge system into SimpleScorekeeper
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

docs: add comprehensive round completion verification
  ROUND_COMPLETION_VERIFICATION.md
Labels: documentation

feat: add interactive betting options UI to SimpleScorekeeper
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

feat: add accept/decline buttons for THE OPTION in betting progression
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

feat: add double/half betting buttons to progression section
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend
