Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

feat: integrate SimulationVisualInterface into SimulationMode
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend

style: add responsive styles for visual interface
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
  frontend/src/components/simulation/visual/styles.css
Labels: frontend

docs: add visual interface component documentation
  frontend/src/components/simulation/visual/README.md
Labels: frontend, documentation

chore: final verification and cleanup
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend

test: fix failing simulation tests after visual interface migration
  frontend/src/components/simulation/__tests__/SimulationMode.probabilities.test.js
  frontend/src/components/simulation/visual/__tests__/SimulationVisualInterface.test.js
Labels: frontend, tests

chore: cleanup old config files and add design docs
  .bash_profile_optimized
  .crush.json
  .cursorrules
  PODMAN_QUICK_START.md
  PODMAN_SETUP_COMPLETE.md
  backend/SIMULATION_ENDPOINTS_SUMMARY.md
  docs/plans/2025-01-27-simulation-interface-redesign.md
  docs/plans/2025-01-27-simulation-visual-interface-implementation.md
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: backend, documentation

fix: remove undefined bettingOptions references
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend

docs: add betting odds integration design document
  docs/plans/2025-01-28-betting-odds-integration.md
Labels: documentation

docs: add betting odds implementation plan
  docs/plans/2025-01-28-betting-odds-implementation-plan.md
Labels: documentation

feat: add betting odds foundation (utilities and styles)
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.8ad7e474.css
  frontend/build/static/css/main.8ad7e474.css.map
  frontend/build/static/js/main.ccaf3de2.js
  frontend/build/static/js/main.ccaf3de2.js.LICENSE.txt
  frontend/build/static/js/main.ccaf3de2.js.map
  frontend/src/components/simulation/visual/__tests__/utils/oddsHelpers.test.js
  frontend/src/components/simulation/visual/styles.css
  frontend/src/components/simulation/visual/utils/oddsHelpers.js
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: frontend, documentation, tests

feat: add EducationalTooltip and ProbabilityBar components
  frontend/src/components/simulation/visual/EducationalTooltip.jsx
  frontend/src/components/simulation/visual/ProbabilityBar.jsx
  frontend/src/components/simulation/visual/__tests__/EducationalTooltip.test.js
  frontend/src/components/simulation/visual/__tests__/ProbabilityBar.test.js
Labels: frontend, tests

feat: integrate betting odds display into simulation visual interface
  frontend/src/components/simulation/visual/BettingCard.jsx
  frontend/src/components/simulation/visual/DecisionButtons.jsx
  frontend/src/components/simulation/visual/EducationalTooltip.jsx
  frontend/src/components/simulation/visual/ProbabilityBar.jsx
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
  frontend/src/components/simulation/visual/__tests__/BettingCard.odds.test.js
  frontend/src/components/simulation/visual/__tests__/DecisionButtons.odds.test.js
  frontend/src/components/simulation/visual/utils/oddsHelpers.js
Labels: frontend, tests

docs: add betting odds integration documentation
  docs/manual-testing/betting-odds-verification.md
  frontend/src/components/simulation/visual/README.md
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: frontend, documentation

docs: add betting odds feature to README
  README.md
Labels: documentation

docs: add comprehensive PR description for betting odds integration
  docs/pull-requests/betting-odds-integration.md
Labels: documentation

test: add Playwright containerized testing with Podman
  scripts/run-playwright-podman.sh
  tests/e2e/Dockerfile
Labels: tests, ci/cd

test: fix Playwright e2e test to use correct Practice Mode button
  tests/e2e/package.json
  tests/e2e/playwright.config.js
  tests/e2e/tests/simulation.spec.js
Labels: tests, dependencies, configuration

test: improve E2E test stability with loading screen handling
  tests/e2e/tests/simulation.spec.js
Labels: tests

perf: skip health check in local development for instant startup
  frontend/src/components/ColdStartHandler.js
Labels: frontend

refactor: simplify simulation mode to single interface
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/config/environment.js
Labels: frontend

build: update frontend build artifacts after simulation mode simplification
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.22bf8e05.css
  frontend/build/static/css/main.22bf8e05.css.map
  frontend/build/static/css/main.8ad7e474.css
  frontend/build/static/css/main.8ad7e474.css.map
  frontend/build/static/js/main.8443985f.js
  frontend/build/static/js/main.8443985f.js.LICENSE.txt
  frontend/build/static/js/main.8443985f.js.map
  frontend/build/static/js/main.ccaf3de2.js
  frontend/build/static/js/main.ccaf3de2.js.map
Labels: frontend

fix: resolve Vercel and Render deployment issues
  DEPLOYMENT.md
  backend/.python-version
  backend/app/__init__.py
  backend/runtime.txt
  frontend/vercel.json
  render.yaml
  vercel.json
Labels: backend, frontend, documentation

fix(vercel): use string values for environment variables
  frontend/vercel.json
Labels: frontend

config: disable turn-based mode in simulation
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.8ad7e474.css
  frontend/build/static/css/main.8ad7e474.css.map
  frontend/build/static/js/main.ccaf3de2.js
  frontend/build/static/js/main.ccaf3de2.js.LICENSE.txt
  frontend/build/static/js/main.ccaf3de2.js.map
  frontend/src/components/simulation/SimulationMode.js
  frontend/tests/e2e/playwright.config.js
  frontend/tests/e2e/tests/full-round-simulation.spec.js
  reports/backend_unit_tests.html
  reports/test_summary.md
  tests/e2e/playwright-report/index.html
  tests/e2e/test-results/.last-run.json
Labels: frontend, documentation, tests, configuration

fix(simulation): remove JSON blob displays from UI
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend

fix(simulation): integrate decision cards into visual interface
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
Labels: frontend

feat(simulation): add feedback message display to visual interface
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
Labels: frontend

feat(simulation): add full hole and round completion flow
  backend/app/main.py
  frontend/src/components/simulation/RoundSummary.jsx
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
Labels: backend, frontend

docs: add comprehensive NFT badge system proposal
  docs/nft-badge-proposal.md
Labels: documentation

feat: implement complete NFT badge system for Wolf Goat Pig
  backend/app/badge_engine.py
  backend/app/badge_routes.py
  backend/app/badge_seeds.py
  backend/app/main.py
  backend/app/models.py
  contracts/.env.example
  contracts/WolfGoatPigBadges.sol
  contracts/hardhat.config.js
  contracts/package.json
  contracts/scripts/deploy.js
  docs/nft-badge-implementation-guide.md
  frontend/src/components/BadgeGallery.css
  frontend/src/components/BadgeGallery.js
  frontend/src/components/BadgeNotification.css
  frontend/src/components/BadgeNotification.js
Labels: backend, frontend, documentation, dependencies, configuration

refactor: simplify to pure digital achievement system (no NFTs/blockchain)
  backend/app/badge_engine.py
  backend/app/badge_routes.py
  backend/app/badge_seeds.py
  backend/app/models.py
  docs/achievement-badge-guide.md
  frontend/src/components/BadgeGallery.js
Labels: backend, frontend, documentation

fix: remove deprecated routes from vercel.json
  frontend/vercel.json
Labels: frontend

fix: remove deprecated routes from vercel.json
  frontend/vercel.json
Labels: frontend

fix: improve API URL detection in simulation mode config
  frontend/src/config/environment.js
  test_simulation_comprehensive.py
  test_simulation_flow.py
Labels: frontend, tests

docs: add branch cleanup guide
  BRANCH_CLEANUP.md
Labels: documentation

fix: standardize environment variable naming and configuration
  .env.example
  backend/.env.example
  vercel.json
Labels: backend, configuration

fix: ensure SimulationDecisionPanel always displays content
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
Labels: frontend

fix: handle interaction_needed in simulation setup response
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend

fix: correct Play Next Shot button emoji for Playwright tests
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
Labels: frontend

fix: resolve CSS layout issues hiding decision panels
  frontend/src/components/simulation/visual/styles.css
Labels: frontend

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'
