Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

docs: add contributor guidelines
  AGENTS.md
Labels: documentation

Refine simulation feedback handling
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend

Route legacy game actions through unified handlers
  backend/app/main.py
  frontend/src/pages/GamePage.js
Labels: backend, frontend

Refine shot probability handling
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/simulation/__tests__/SimulationMode.probabilities.test.js
  frontend/src/context/GameProvider.js
  frontend/src/context/__tests__/GameProvider.shotProbabilities.test.js
Labels: frontend, tests

Document shared production env template
  PRODUCTION_SETUP.md
  config/.env.production.template
Labels: documentation, configuration

Add unit tests for hole state mechanics
  tests/backend/test_hole_state_mechanics.py
Labels: tests

Gracefully gate browser fixtures for optional dependencies
  tests/backend/test_hole_state_mechanics.py
  tests/conftest.py
Labels: tests

Tighten hole completion logic and expand coverage
  backend/app/wolf_goat_pig_simulation.py
  tests/backend/test_hole_state_mechanics.py
Labels: backend, tests

Add manual probe for legacy tee sheet sync
  .env.example
  backend/app/main.py
  backend/app/services/legacy_signup_service.py
  backend/tests/test_legacy_signup_service.py
  docs/guides/legacy-signup-bridge.md
  scripts/legacy_sync_probe.py
Labels: backend, documentation, tests, configuration

Add Sunday game pairing randomization
  .env.example
  backend/.env.example
  backend/app/main.py
  backend/app/services/sunday_game_service.py
  backend/app/services/team_formation_service.py
  backend/tests/test_sunday_game_service.py
Labels: backend, tests, configuration

feat: Add comprehensive deployment testing infrastructure
  .husky/deployment-checklist
  .husky/pre-commit
  .husky/pre-push
  .playwright-mcp/game-setup-page.png
  AGENTS.md
  README.md
  backend/Dockerfile.prod
  docker-compose.prod.yml
  docs/README.md
  docs/guides/deployment-troubleshooting.md
  docs/guides/local-deployment-testing.md
  docs/guides/local-development.md
  docs/guides/production-setup.md
  docs/status/current-state.md
  frontend/.husky/pre-commit
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  package.json
  scripts/test-prod-all.sh
  scripts/test-prod-backend.sh
  scripts/test-prod-frontend.sh
  scripts/verify-deployments.py
Labels: backend, frontend, documentation, dependencies, ci/cd

Update test infrastructure and clean up build artifacts
  backend/app/main.py
  backend/app/services/odds_calculator.py
  backend/requirements.txt
  backend/tests/test_simulation_unit.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.9751304d.css
  frontend/build/static/css/main.9751304d.css.map
  frontend/build/static/js/main.6b76add5.js
  frontend/build/static/js/main.6b76add5.js.LICENSE.txt
  frontend/build/static/js/main.6b76add5.js.map
  frontend/src/components/__tests__/SimulationMode.test.js
  frontend/src/components/simulation/GameSetup.tsx
  frontend/src/components/simulation/__tests__/GamePlay.test.js
  frontend/src/components/simulation/__tests__/GameSetup.test.js
  frontend/src/components/simulation/__tests__/SimulationMode.test.js
  frontend/src/components/ui/Input.js
  frontend/src/components/ui/Select.js
  frontend/src/setupTests.js
  package.json
  reports/backend_unit_tests.html
  reports/test_summary.md
  scripts/diagnostics/run_simulation_tests.sh
Labels: backend, frontend, documentation, tests, dependencies

Refactor simulation layout styling to use theme
  .env.example
  frontend/src/components/simulation/EnhancedSimulationLayout.js
  frontend/src/components/simulation/GamePlay.js
  frontend/src/components/simulation/HoleVisualization.tsx
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/simulation/__fixtures__/index.js
  frontend/src/components/simulation/__fixtures__/simulationMockData.js
  frontend/src/components/simulation/__tests__/GamePlay.test.js
  frontend/src/components/simulation/index.js
  frontend/src/components/simulation/styles/enhancedSimulationLayout.js
  frontend/src/config/environment.js
Labels: frontend, tests, configuration

Add BDD workflow and deployment guardrails
  .husky/pre-commit
  .husky/pre-push
  README.md
  backend/app/main.py
  backend/app/state/betting_state.py
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/simulation/__init__.py
  docs/guides/bdd-workflow.md
  frontend/src/components/simulation/GameSetup.tsx
  frontend/src/components/simulation/HoleVisualization.tsx
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
  frontend/tsconfig.json
  package.json
  reports/backend_unit_tests.html
  reports/test_summary.md
  scripts/test-prod-backend.sh
  scripts/test-prod-frontend.sh
  scripts/testing/run_behave.sh
  tests/bdd/environment.py
  tests/bdd/features/simulation_health.feature
  tests/bdd/steps/simulation_steps.py
Labels: backend, frontend, documentation, tests, dependencies

Backend smoke test: add port guard; health fixed; FE lint tweaks
  backend/app/main.py
  backend/app/seed_data.py
  frontend/src/components/InteractivePlayerCard.js
  frontend/src/components/Navigation.js
  frontend/src/components/SheetIntegrationDashboard.js
  frontend/src/components/WGPAnalyticsDashboard.js
  frontend/src/components/auth/Profile.js
  frontend/src/components/signup/MatchmakingSuggestions.js
  frontend/src/components/signup/PlayerAvailability.js
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/components/simulation/TurnBasedInterface.js
  frontend/src/config/environment.js
  frontend/src/context/MockAuthContext.js
  frontend/src/context/SheetSyncContext.js
  frontend/src/hooks/useOddsCalculation.js
  frontend/src/hooks/useTutorialProgress.js
  frontend/src/pages/AboutPage.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/SignupPage.js
  frontend/src/utils/api.js
  reports/backend_unit_tests.html
  reports/test_summary.md
  scripts/test-prod-backend.sh
  scripts/test-prod-frontend.sh
Labels: backend, frontend, documentation

tests(simulation): wrap async updates in act; silence warnings
  frontend/src/components/simulation/__tests__/SimulationMode.probabilities.test.js
  frontend/src/components/simulation/__tests__/SimulationMode.test.js
Labels: frontend, tests

chore(ci): always run render & vercel checks
  scripts/test-prod-backend.sh
  scripts/test-prod-frontend.sh
Labels: none

fix(api): serve fallback homepage
  backend/app/main.py
Labels: backend

fix(auth): verify token synchronously
  backend/app/services/auth_service.py
Labels: backend

feat(tests): add robust coverage for simulation seeding flows
  BACKEND_ADJUSTMENTS_NEEDED.md
  backend/app/main.py
  tests/backend/test_simulation_state_endpoint.py
  tests/bdd/environment.py
  tests/bdd/features/simulation_betting.feature
  tests/bdd/features/simulation_partnership.feature
  tests/bdd/steps/simulation_steps.py
  tests/bdd/steps/utils/__init__.py
  tests/bdd/steps/utils/simulation_helpers.py
Labels: backend, documentation, tests

chore: guard simulation logs for production builds
  frontend/src/components/EnhancedWGPInterface.js
  frontend/src/components/PerformanceAnalytics.js
  frontend/src/components/WGPAnalyticsDashboard.js
  frontend/src/components/game/WolfGoatPigGame.js
  frontend/src/components/simulation/SimulationMode.js
  frontend/src/context/AuthContext.js
  frontend/src/context/SheetSyncContext.js
  frontend/src/services/ghinService.js
  tests/functional/test_simulation_functional.py
Labels: frontend, tests

test: restore integration helper import
  tests/backend/helpers/simulation_engine.py
  tests/backend/test_integration_scenarios.py
Labels: tests

Harden simulation test endpoints and cover adm
  backend/app/main.py
  tests/backend/test_simulation_state_endpoint.py
Labels: backend, tests

feat: add .claude folder with specialized agents and skills
  .claude/README.md
  .claude/agents/api-docs-agent.md
  .claude/agents/cicd-improvement-agent.md
  .claude/agents/component-testing-agent.md
  .claude/agents/error-handling-agent.md
  .claude/agents/rules-validation-agent.md
  .claude/agents/test-coverage-agent.md
  .claude/agents/typescript-migration-agent.md
  .claude/skills/analyze-test-coverage.md
  .claude/skills/check-code-quality.md
  .claude/skills/deploy-to-staging.md
  .claude/skills/generate-api-docs.md
  .claude/skills/run-all-tests.md
Labels: documentation

docs: add comprehensive testing remediation plan
  docs/testing/COMPREHENSIVE_TESTING_PLAN.md
  docs/testing/PROGRESS_TRACKER.md
  docs/testing/QUICK_START_GUIDE.md
  docs/testing/README.md
Labels: documentation

test: add comprehensive BDD scenarios for core game rules
  tests/bdd/behave/features/game_rules_core.feature
  tests/bdd/behave/steps/game_rules_steps.py
Labels: tests

test: fix BDD step definitions - 17/19 scenarios passing
  tests/bdd/behave/features/game_rules_core.feature
  tests/bdd/behave/steps/game_rules_steps.py
Labels: tests

docs: add BDD test results report
  tests/bdd/TEST_RESULTS.md
Labels: documentation, tests

test: implement relative handicap calculation
  tests/bdd/behave/steps/game_rules_steps.py
Labels: tests

test: fix handicap test expectations for relative calculation
  tests/bdd/behave/features/game_rules_core.feature
Labels: tests

test: fix Karl Marx Rule - reorder step patterns for correct matching
  tests/bdd/behave/steps/game_rules_steps.py
Labels: tests

docs: update BDD test results to show 100% passing
  tests/bdd/TEST_RESULTS.md
Labels: documentation, tests

feat: automate backend/frontend connectivity with smart API detection
  docs/BACKEND_FRONTEND_CONNECTIVITY.md
  frontend/.env.example
  frontend/src/config/api.config.js
  frontend/src/utils/api.js
  frontend/vercel.json
  scripts/test-local-connectivity.sh
  scripts/verify-deployment.sh
Labels: frontend, documentation, configuration

chore: add .worktrees/ to .gitignore
  .gitignore
Labels: none

feat: add HoleVisualization SVG component
  frontend/src/components/simulation/visual/HoleVisualization.jsx
  frontend/src/components/simulation/visual/__tests__/HoleVisualization.test.js
  frontend/src/components/simulation/visual/index.js
Labels: frontend, tests

feat: add PlayersCard component
  frontend/src/components/simulation/visual/PlayersCard.jsx
  frontend/src/components/simulation/visual/__tests__/PlayersCard.test.js
  frontend/src/components/simulation/visual/index.js
Labels: frontend, tests

feat: add BettingCard component
  frontend/src/components/simulation/visual/BettingCard.jsx
  frontend/src/components/simulation/visual/__tests__/BettingCard.test.js
  frontend/src/components/simulation/visual/index.js
Labels: frontend, tests

feat: add ShotContextCard component
  frontend/src/components/simulation/visual/ShotContextCard.jsx
  frontend/src/components/simulation/visual/__tests__/ShotContextCard.test.js
  frontend/src/components/simulation/visual/index.js
Labels: frontend, tests

feat: add DecisionButtons component
  frontend/src/components/simulation/visual/DecisionButtons.jsx
  frontend/src/components/simulation/visual/__tests__/DecisionButtons.test.js
  frontend/src/components/simulation/visual/index.js
Labels: frontend, tests

feat: add SimulationVisualInterface container
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
  frontend/src/components/simulation/visual/__tests__/SimulationVisualInterface.test.js
  frontend/src/components/simulation/visual/index.js
Labels: frontend, tests

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'
