Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'

Fix gameState null issue preventing Play Next Shot button from showing
  BROWSER_TEST_GUIDE.md
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend, documentation

Fix Play Next Shot button not showing in gameplay
  frontend/src/components/simulation/GamePlay.js
Labels: frontend

Debug and fix Play Next Shot button functionality
  GAMEPLAY_USER_JOURNEY.md
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend, documentation

Implement TV poker-style UI for premium experience
  TV_POKER_STYLE_UX.md
  frontend/src/components/game/TVPokerLayout.js
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend, documentation

Fix shot advancement in TV poker layout
  frontend/src/components/game/TVPokerLayout.js
  frontend/src/components/simulation/SimulationMode.js
Labels: frontend

Improve TV poker layout to show dynamic game updates
  frontend/src/components/game/TVPokerLayout.js
Labels: frontend

Polish TV poker UI with cleaner data display
  frontend/src/components/game/TVPokerLayout.js
Labels: frontend

Fix action feed with readable shot descriptions
  backend/app/main.py
  frontend/src/components/game/TVPokerLayout.js
Labels: backend, frontend

Add realistic golf simulation and dynamic course visualization
  backend/app/wolf_goat_pig_simulation.py
  frontend/src/components/game/TVPokerLayout.js
Labels: backend, frontend

🧪 Add comprehensive smoke tests and Playwright e2e testing infrastructure
  backend/app/main.py
  backend/app/wolf_goat_pig_simulation.py
  backend/smoke_tests.py
  backend/test_betting_flow.py
  backend/test_fixes.py
  backend/test_hole_completion.py
  backend/test_progression.py
  backend/test_short_game.py
  backend/tests/__pycache__/test_api_integration.cpython-312-pytest-7.4.4.pyc
  backend/tests/__pycache__/test_betting_state.cpython-312-pytest-7.4.4.pyc
  backend/tests/__pycache__/test_game_state.cpython-312-pytest-7.4.4.pyc
  backend/tests/__pycache__/test_models_schemas.cpython-312-pytest-7.4.4.pyc
  backend/tests/__pycache__/test_performance.cpython-312-pytest-7.4.4.pyc
  backend/tests/__pycache__/test_player_service.cpython-312-pytest-7.4.4.pyc
  backend/tests/__pycache__/test_simulation_unit.cpython-312-pytest-7.4.4.pyc
  backend/tests/test_simulation_unit.py
  frontend/src/components/game/TVPokerLayout.js
  tests/e2e/README.md
  tests/e2e/package.json
  tests/e2e/playwright.config.js
  tests/e2e/tests/api-integration.spec.js
  tests/e2e/tests/betting-partnership.spec.js
  tests/e2e/tests/game-flow.spec.js
Labels: backend, frontend, documentation, tests, dependencies, configuration

feat: Add live Google Sheets sync and WGP analytics dashboard
  .claude/create_prd.md
  .claude/create_tasks_from_prd.md
  .playwright-mcp/auth0-login-redirect.png
  .playwright-mcp/auth0-login-working.png
  .playwright-mcp/complete-feed-analysis.png
  .playwright-mcp/feed-analyzer-results.png
  .playwright-mcp/hole-1-feed-1756152381663.json
  .playwright-mcp/hole-1-feed-1756152924854.json
  .playwright-mcp/hole-1-feed-1756153710920.json
  .playwright-mcp/multi-hole-analysis.png
  .playwright-mcp/real-auth0-login.png
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/__pycache__/models.cpython-313.pyc
  backend/app/__pycache__/schemas.cpython-313.pyc
  backend/app/main.py
  backend/app/services/__pycache__/sheet_integration_service.cpython-313.pyc
  backend/app/services/__pycache__/statistics_service.cpython-313.pyc
  frontend/AUTH0_CREDENTIALS_SETUP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/sample_golf_data.csv
  frontend/src/App.js
  frontend/src/components/ColdStartHandler.js
  frontend/src/components/GoogleSheetsLiveSync.js
  frontend/src/components/Leaderboard.js
  frontend/src/components/SheetIntegrationDashboard.js
  frontend/src/components/WGPAnalyticsDashboard.js
  frontend/src/components/auth/ProtectedRoute.js
  frontend/src/components/simulation/FeedAnalyzer.js
  frontend/src/context/AuthContext.js
  frontend/src/context/MockAuthContext.js
  tests/functional/functional_test_suite.py
  tests/functional/multi_hole_progression_tests.py
  tests/functional/outlier_pattern_tests.py
  tests/functional/run_functional_tests.py
Labels: backend, frontend, documentation, tests, dependencies

Update CLAUDE.md
  CLAUDE.md
Labels: documentation

fix: Remove config/vercel.json file
  config/vercel.json
Labels: none

fix: Update Vercel deployment configuration
  vercel.json
Labels: none

fix: Add Render configuration to root for backend deployment
  render.yaml
Labels: none

fix: Update live data with realistic Wolf-Goat-Pig scoring including negative values
  frontend/sample_golf_data.csv
  frontend/src/components/GoogleSheetsLiveSync.js
Labels: frontend

fix: Connect leaderboard to Google Sheets CSV data with negative earnings
  frontend/src/components/Leaderboard.js
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: frontend

fix: Remove authentication requirement from leaderboard
  frontend/src/App.js
Labels: frontend

fix: Display player names in leaderboard
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: frontend

Remove dummy data and fix leaderboard to use live Google Sheets integration
  .playwright-mcp/backend-swagger-docs.png
  .playwright-mcp/wolf-goat-pig-homepage.png
  frontend/sample_golf_data.csv
  frontend/src/components/GoogleSheetsLiveSync.js
  frontend/src/components/Leaderboard.js
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: frontend

Fix React hook dependencies and remove unused variables
  frontend/src/components/GoogleSheetsLiveSync.js
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: frontend

Update leaderboard header to reflect live Google Sheets integration
  frontend/src/components/WGPAnalyticsDashboard.js
Labels: frontend

Fix Vercel build configuration to properly build frontend
  vercel.json
Labels: none

Fix mixed routing properties error in vercel.json
  vercel.json
Labels: none

Fix CORS configuration to allow frontend requests
  backend/app/main.py
Labels: backend

Fix CORS configuration with production frontend URL
  backend/app/main.py
Labels: backend

Fix database initialization and add PostgreSQL service
  backend/app/main.py
  render.yaml
Labels: backend

Fix frontend loading by enabling mock auth
  vercel.json
Labels: none

Configure Auth0 authentication for production
  vercel.json
Labels: none

Fix frontend proxy configuration and clean vercel.json
  frontend/package.json
  vercel.json
Labels: frontend, dependencies

Fix backend API URL for production deployment
  vercel.json
Labels: none

Force rebuild with correct build environment variables - moved env vars to build.env section
  vercel.json
Labels: none

Remove Auth0 audience to fix login access_denied error
  vercel.json
Labels: none

Force rebuild to remove Auth0 audience from all environment configs
  frontend/src/context/AuthContext.js
Labels: frontend

Disable Auth0 audience parameter to fix login errors - commented out problematic audience configuration
  frontend/src/context/AuthContext.js
Labels: frontend

Fix GoogleSheetsLiveSync temporal dead zone error
  frontend/src/components/GoogleSheetsLiveSync.js
Labels: frontend

Fix Google Sheets sync to properly handle WGP sheet format
  .playwright-mcp/final-test-state.png
  .playwright-mcp/initial-state.png
  .playwright-mcp/page-2025-08-26T17-54-22-889Z.png
  .playwright-mcp/page-2025-08-26T18-32-46-995Z.png
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
  test-google-sheets-live-sync.js
Labels: backend

Fix Google Sheets parsing to handle title rows and find actual data
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
Labels: backend

Add banquet qualification tracking and worst scores view
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
  frontend/src/components/Leaderboard.js
  test_sheet_parsing.py
Labels: backend, frontend, tests

Fix leaderboard to show ALL players and handle edge cases
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/main.py
  backend/app/services/player_service.py
Labels: backend
