Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'

feat: add frontend UI for The Option and Duncan
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

docs: complete Phase 2 implementation summary
  docs/KARL_MARX_RULE_TODO.md
  docs/PHASE_2_IMPLEMENTATION_SUMMARY.md
  docs/SCOREKEEPER_RULES_COMPLIANCE_ANALYSIS.md
  docs/WOLF_GOAT_PIG_RULES.md
  docs/plans/2025-01-07-phase-1-core-game-flow.md
  docs/plans/2025-01-07-phase-2-betting-mechanics.md
Labels: documentation

test: add solo requirement tracking tests
  backend/tests/test_solo_requirement.py
Labels: backend, tests

feat: implement double points for holes 17-18
  backend/app/main.py
  backend/tests/test_double_points.py
Labels: backend, tests

feat: implement Karl Marx rule for uneven distribution
  backend/app/main.py
  backend/tests/test_karl_marx.py
Labels: backend, tests

docs: add Phase 3 implementation summary and plan
  docs/PHASE_3_IMPLEMENTATION_SUMMARY.md
  docs/plans/2025-01-07-phase-3-final-rules.md
Labels: documentation

feat: add solo requirement warning UI (Phase 3)
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

docs: update Phase 3 summary with frontend UI task
  docs/PHASE_3_IMPLEMENTATION_SUMMARY.md
Labels: documentation

feat: add scorekeeping validation (Phase 4, Task 1)
  backend/app/main.py
  backend/tests/test_scorekeeping_validation.py
  docs/plans/2025-01-07-phase-4-advanced-rules.md
Labels: backend, documentation, tests

feat: add enhanced error handling and validation (Phase 4, Task 2)
  backend/app/main.py
  backend/tests/test_enhanced_validation.py
Labels: backend, tests

feat: add pre-hole doubling mechanics (Phase 4, Task 3)
  backend/app/main.py
  backend/tests/test_pre_hole_doubling.py
Labels: backend, tests

feat: add The Big Dick 18th hole special (Phase 4, Task 5)
  backend/app/main.py
  backend/tests/test_big_dick.py
Labels: backend, tests

docs: add Phase 4 implementation summary
  docs/PHASE_4_IMPLEMENTATION_SUMMARY.md
Labels: documentation

docs: add 5-man game implementation status analysis
  docs/5_MAN_GAME_STATUS.md
Labels: documentation

test: add Hoepfinger 5-man tests verifying hole 16 start (Phase 5, Task 3)
  backend/tests/test_hoepfinger_5man.py
Labels: backend, tests

feat: implement The Aardvark mechanics for 5-man games (Phase 5, Task 1)
  backend/app/main.py
  backend/tests/test_aardvark.py
Labels: backend, tests

feat: implement dynamic rotation selection for 5-man games (Phase 5, Task 2)
  backend/app/main.py
  backend/tests/test_dynamic_rotation_selection.py
Labels: backend, tests

fix: correct partners game pot calculation and Karl Marx distribution
  backend/app/main.py
  backend/tests/test_karl_marx.py
Labels: backend, tests

test: fix test_aardvark_tossed_doubles_risk for correct pot formula
  backend/tests/test_aardvark.py
Labels: backend, tests

feat: implement 3 advanced 5-man rules - Ping Pong, Tunkarri, Hanging Chad
  backend/app/main.py
  backend/tests/test_ping_pong_aardvark.py
  backend/tests/test_tunkarri.py
Labels: backend, tests

fix: improve state management and rotation selection for Phase 5
  backend/PHASE1_COMPLETION_REPORT.md
  backend/PHASE2_FRONTEND_COMPLETION_REPORT.md
  backend/PHASE3_ADVANCED_FEATURES_UI_COMPLETION_REPORT.md
  backend/PHASE4_UI_TEST_VERIFICATION.md
  backend/app/main.py
  backend/app/wolf_goat_pig_simulation.py
  backend/tests/test_dynamic_rotation_selection.py
  backend/tests/unit/test_validators.py
  docs/PHASE_5_IMPLEMENTATION_SUMMARY.md
  docs/plans/2025-01-07-phase-5-five-man-game.md
Labels: backend, documentation, tests

test: fix SimulationVisualInterface test for multiple BETTING elements
  frontend/src/components/simulation/visual/__tests__/SimulationVisualInterface.test.js
Labels: frontend, tests

docs: add E2E testing design for test game mode
  docs/plans/2025-01-08-e2e-test-game-mode-design.md
Labels: documentation

docs: add detailed E2E testing implementation plan
  docs/plans/2025-01-08-e2e-test-game-mode-implementation.md
Labels: documentation

feat(e2e): add Playwright configuration and directory structure
  frontend/package.json
  frontend/tests/e2e/fixtures/.gitkeep
  frontend/tests/e2e/page-objects/.gitkeep
  frontend/tests/e2e/playwright.config.js
  frontend/tests/e2e/tests/.gitkeep
  frontend/tests/e2e/utils/.gitkeep
Labels: frontend, tests, dependencies, configuration

feat(e2e): add test fixtures and API helpers
  frontend/tests/e2e/fixtures/api-helpers.js
  frontend/tests/e2e/fixtures/game-fixtures.js
Labels: frontend, tests

fix(e2e): correct API endpoint path and improve error handling
  frontend/tests/e2e/fixtures/api-helpers.js
Labels: frontend, tests

feat(e2e): add custom assertions and test helpers
  frontend/tests/e2e/utils/assertions.js
  frontend/tests/e2e/utils/test-helpers.js
Labels: frontend, tests

feat(e2e): add HomePage page object
  frontend/tests/e2e/page-objects/HomePage.js
Labels: frontend, tests

feat(e2e): add GameCreationPage page object
  frontend/tests/e2e/page-objects/GameCreationPage.js
Labels: frontend, tests

feat(e2e): add ScorekeeperPage page object
  frontend/tests/e2e/page-objects/ScorekeeperPage.js
Labels: frontend, tests

feat(e2e): add GameCompletionPage page object
  frontend/tests/e2e/page-objects/GameCompletionPage.js
Labels: frontend, tests

fix: resolve data-hole selector issue and improve text parsing
  frontend/tests/e2e/page-objects/ScorekeeperPage.js
  frontend/tests/e2e/utils/test-helpers.js
Labels: frontend, tests

test(e2e): add 4-man happy path test (WIP - needs UI data-testid)
  frontend/tests/e2e/tests/test-game-4-man.spec.js
Labels: frontend, tests

feat(ui): add data-testid attributes for E2E testing
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/pages/HomePage.js
Labels: frontend

feat(ui): add game completion view with data-testid attributes
  frontend/src/components/game/GameCompletionView.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/index.js
Labels: frontend

fix(e2e): correct HomePage selectors for splash screen and verification
  frontend/tests/e2e/page-objects/HomePage.js
Labels: frontend, tests

test(e2e): add smoke tests for API and basic frontend validation
  frontend/tests/e2e/tests/smoke-test.spec.js
Labels: frontend, tests

docs(e2e): add comprehensive E2E testing README
  frontend/tests/e2e/README.md
Labels: frontend, documentation, tests

feat(e2e): add Podman support for running tests in containers
  frontend/tests/e2e/README.md
  frontend/tests/e2e/run-in-podman.sh
Labels: frontend, documentation, tests
