Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

fix: correct test game creation endpoint to use query parameters
  frontend/src/pages/GameScorerPage.js
Labels: frontend

fix: correct smoke test endpoints to match backend API
  frontend/tests/e2e/tests/smoke-test.spec.js
Labels: frontend, tests

feat: add PostgreSQL migration for join_code column
  backend/migrations/README.md
  backend/migrations/add_join_codes_postgres.sql
Labels: backend, documentation

feat: add automatic database migrations on deployment
  backend/deploy.sh
  backend/run_migrations.py
Labels: backend

fix: add pool_reset_on_return to prevent stuck PostgreSQL transactions
  backend/app/database.py
Labels: backend

fix: correct player field reference to prevent transaction abort during game start
  backend/app/main.py
Labels: backend

fix: remove routes property to resolve Vercel deployment conflict
  frontend/vercel.json
Labels: frontend

fix: remove unused variables and imports to resolve ESLint warnings
  frontend/src/App.js
  frontend/src/components/game/MobileScorecard.jsx
  frontend/src/components/simulation/ScorerMode.js
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
  frontend/src/pages/GameScorerPage.js
Labels: frontend

fix: remove unused getHoleHistory function in MobileScorecard
  frontend/src/components/game/MobileScorecard.jsx
Labels: frontend

fix: add transaction rollback to prevent abort errors
  backend/app/seed_data.py
  backend/app/services/ghin_service.py
Labels: backend

feat: add player name editing in game scorer
  backend/app/main.py
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/simulation/visual/Scorecard.jsx
Labels: backend, frontend

fix: resolve PostgreSQL UUID and timestamp type mismatches
  backend/app/models.py
  backend/migrations/add_game_id_to_game_state_postgres.sql
  backend/migrations/add_join_codes_postgres.sql
Labels: backend

chore: update test reports after database fixes
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: documentation

fix: resolve PostgreSQL transaction abort error in query loops
  backend/app/seed_data.py
  backend/app/services/ghin_service.py
Labels: backend

fix: resolve datetime type mismatch causing query failures
  backend/app/seed_data.py
Labels: backend

feat: add custom database transaction linter with pre-commit hook
  .pre-commit-config.yaml
  backend/DB_LINTING_RULES.md
  backend/lint_db_transactions.py
Labels: backend, documentation

fix: prevent foreign key violations after rollback in game seeding loop
  backend/DB_LINTING_RULES.md
  backend/app/seed_data.py
Labels: backend, documentation

refactor: disable sample game seeding to eliminate complexity
  backend/app/seed_data.py
Labels: backend

docs: add endpoint duplication analysis
  backend/ENDPOINT_DUPLICATION_ANALYSIS.md
Labels: backend, documentation

docs: add frontend endpoint usage audit
  backend/FRONTEND_ENDPOINT_AUDIT.md
Labels: backend, documentation

docs: add scorekeeper mode verification
  backend/SCOREKEEPER_VERIFICATION.md
Labels: backend, documentation

docs: add game creation troubleshooting guide
  backend/TROUBLESHOOTING_GAME_CREATION.md
Labels: backend, documentation

docs: add production PostgreSQL deployment guide
  backend/PRODUCTION_DEPLOYMENT_GUIDE.md
Labels: backend, documentation

fix: prevent transaction abort errors in sheet sync
  backend/app/services/sheet_integration_service.py
  test_sheet_sync_fix.py
Labels: backend, tests

docs: add comprehensive PostgreSQL schema documentation
  docs/DATABASE_SCHEMA.md
Labels: documentation

Add Render MCP HTTP transport configuration
  .claude/mcp.json
Labels: none

fix: add automatic PostgreSQL migration for player_statistics score columns
  backend/app/main.py
  backend/app/migrate_score_performance.py
Labels: backend

fix: add transaction rollback in sheet sync error handling
  backend/app/main.py
Labels: backend

fix: add missing join_code column migrations to startup.py
  backend/app/database.py
  backend/app/main.py
  backend/startup.py
Labels: backend

fix: add missing db parameter to sync_wgp_sheet_data endpoint
  backend/app/main.py
Labels: backend

docs: add database session management guide and tools
  backend/DATABASE_SESSION_GUIDE.md
  backend/app/db_helpers.py
  backend/fix_db_close_simple.py
Labels: backend, documentation

feat: add rate limiting and caching for sheet sync endpoint
  backend/ARCHITECTURE_SEPARATION_GUIDE.md
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/caching.py
  backend/app/middleware/rate_limiting.py
Labels: backend, documentation

refactor: create router infrastructure and extract sheet_integration
  backend/ROUTER_EXTRACTION_PLAN.md
  backend/app/routers/__init__.py
  backend/app/routers/sheet_integration.py
  backend/extract_routers.py
Labels: backend, documentation

refactor: extract health router from main.py (2 endpoints)
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/health.py
Labels: backend

refactor: create players router infrastructure
  backend/app/routers/players.py
Labels: backend

fix: properly handle rate limit 429 responses with correct HTTP headers
  backend/app/middleware/rate_limiting.py
  backend/app/routers/sheet_integration.py
Labels: backend

feat: convert Google Sheets sync to daily background job
  backend/SHEET_SYNC_SCHEDULER.md
  backend/app/routers/sheet_integration.py
  backend/app/services/email_scheduler.py
Labels: backend, documentation

refactor: simplify email reminders to send once daily at 9 AM
  backend/app/services/email_scheduler.py
Labels: backend

fix: add missing join_code migrations to main.py startup
  backend/app/main.py
Labels: backend

fix: reset game_state id sequence after migrations
  backend/app/main.py
  backend/fix_sequence.py
Labels: backend

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'
