Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

fix: constrain hole visualization to prevent page-wide display
  frontend/src/components/simulation/visual/HoleVisualization.jsx
  frontend/src/components/simulation/visual/styles.css
Labels: frontend

fix: comprehensive layout and overflow fixes across simulation interface
  frontend/src/components/simulation/HoleVisualization.tsx
  frontend/src/components/simulation/MonteCarloSimulation.css
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
  frontend/src/components/simulation/visual/BettingCard.jsx
  frontend/src/components/simulation/visual/EducationalTooltip.jsx
  frontend/src/components/simulation/visual/PlayersCard.jsx
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
  frontend/src/components/simulation/visual/styles.css
Labels: frontend

fix: comprehensive form and navigation layout fixes
  frontend/src/components/Navigation.js
  frontend/src/components/game/CourseImport.js
  frontend/src/components/game/GameSetupForm.js
Labels: frontend

refactor: improve code quality across multiple components
  frontend/src/components/Navigation.js
  frontend/src/components/game/CourseImport.js
  frontend/src/components/game/GameSetupForm.js
  frontend/src/components/simulation/HoleVisualization.tsx
  frontend/src/components/simulation/SimulationDecisionPanel.tsx
Labels: frontend

feat: add left-right layout and scorecard to simulation mode
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.22bf8e05.css
  frontend/build/static/css/main.22bf8e05.css.map
  frontend/build/static/css/main.295057d2.css
  frontend/build/static/css/main.295057d2.css.map
  frontend/build/static/js/main.8443985f.js
  frontend/build/static/js/main.8443985f.js.map
  frontend/build/static/js/main.c03da4ed.js
  frontend/build/static/js/main.c03da4ed.js.LICENSE.txt
  frontend/build/static/js/main.c03da4ed.js.map
  frontend/src/components/simulation/visual/Scorecard.jsx
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
  frontend/src/components/simulation/visual/index.js
  frontend/src/components/simulation/visual/styles.css
Labels: frontend

feat: add scorecard to play mode for real games
  frontend/src/pages/GamePage.js
Labels: frontend

build: update source map after scorecard integration
  frontend/build/static/js/main.c03da4ed.js.map
Labels: frontend

feat: add large button support for real play mode scoring
  frontend/build/static/js/main.c03da4ed.js.map
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/pages/GamePage.js
Labels: frontend

feat: add score performance and betting metrics tracking for achievements
  backend/app/migrate_score_performance.py
  backend/app/models.py
  backend/app/schemas.py
  backend/app/services/player_service.py
  frontend/src/components/GameStatsTracker.js
Labels: backend, frontend

refactor: remove emojis from golf scoring UI, keep traditional format
  frontend/src/components/game/LargeScoringButtons.jsx
Labels: frontend

feat: add Banquet Eligible badge for 20 games milestone
  backend/app/badge_seeds.py
Labels: backend

feat: add real-time GameStateWidget to regular game mode
  frontend/src/pages/GamePage.js
Labels: frontend

feat: migrate GamePage to use wgp_simulation system with real-time tracking
  backend/app/main.py
  frontend/src/pages/GamePage.js
Labels: backend, frontend

docs: add comprehensive game round walkthrough with GameStateWidget tracking
  GAME_ROUND_WALKTHROUGH.md
Labels: documentation

docs: add comprehensive shot types and tracking guide
  SHOT_TYPES_GUIDE.md
Labels: documentation

test: add comprehensive multi-hole game state tracking proof
  PROOF_MULTI_HOLE_TRACKING.md
  test_multi_hole_tracking.py
Labels: documentation, tests

test: add comprehensive test coverage and documentation for GameStateWidget
  GAMESTATE_WIDGET_FEATURE.md
  PR_DESCRIPTION.md
  frontend/src/components/__tests__/GameStateWidget.test.js
  frontend/src/pages/__tests__/GamePage.test.js
Labels: frontend, documentation, tests

feat: add game banner system with admin management
  backend/app/main.py
  backend/app/models.py
  backend/app/schemas.py
  frontend/src/components/GameBanner.js
  frontend/src/pages/AdminPage.js
  frontend/src/pages/GamePage.js
Labels: backend, frontend

feat: add captain logging and fix handicap calculation
  backend/app/game_state.py
Labels: backend

chore: add root-level database files to .gitignore
  .gitignore
Labels: none

feat: add proper gross/net score handling for betting
  backend/app/game_state.py
Labels: backend

chore: stop tracking database files
  frontend/wolf_goat_pig.db
  reports/wolf_goat_pig.db
  wolf_goat_pig.db
Labels: frontend

feat: improve game interface visibility and user flow
  frontend/src/pages/GamePage.js
Labels: frontend

refactor: adjust UI for single scorekeeper managing all players
  frontend/src/pages/GamePage.js
Labels: frontend

feat: implement fold/concede hole functionality
  backend/app/game_state.py
  backend/app/state/betting_state.py
  frontend/src/components/game/LargeScoringButtons.jsx
Labels: backend, frontend

feat: optimize game manager interface for glove-friendly mobile use
  frontend/src/App.js
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/styles/mobile-touch.css
Labels: frontend

feat: add mobile scorecard to replace paper scorekeeping
  frontend/src/components/game/MobileScorecard.jsx
  frontend/src/components/game/UnifiedGameInterface.js
  frontend/src/components/game/index.js
Labels: frontend

feat: add flush doubles, go solo, and carry-over tracking
  frontend/src/components/game/LargeScoringButtons.jsx
Labels: frontend

feat: implement permanent game history with hole-by-hole persistence
  backend/app/game_state.py
  backend/app/main.py
  backend/app/models.py
  backend/migrations/add_game_id_to_game_state.sql
Labels: backend

feat: implement join codes for authenticated multiplayer games
  backend/app/game_state.py
  backend/app/main.py
  backend/app/models.py
  backend/migrations/add_join_codes_and_player_linking.sql
Labels: backend

feat: integrate achievement system with game completion
  backend/app/game_state.py
Labels: backend

fix: remove useState hook from renderLargeButton helper function
  frontend/src/components/game/LargeScoringButtons.jsx
Labels: frontend

fix: resolve ESLint warnings and React Hooks violations
  frontend/src/components/simulation/visual/BettingCard.jsx
  frontend/src/components/simulation/visual/DecisionButtons.jsx
  frontend/src/components/simulation/visual/EducationalTooltip.jsx
  frontend/src/pages/GamePage.js
Labels: frontend

chore: update build artifacts after fixing ESLint issues
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.295057d2.css
  frontend/build/static/css/main.295057d2.css.map
  frontend/build/static/css/main.e56b679d.css
  frontend/build/static/css/main.e56b679d.css.map
  frontend/build/static/js/main.7c0d1988.js
  frontend/build/static/js/main.7c0d1988.js.LICENSE.txt
  frontend/build/static/js/main.7c0d1988.js.map
  frontend/build/static/js/main.c03da4ed.js
  frontend/build/static/js/main.c03da4ed.js.map
Labels: frontend

fix: resolve deployment configuration issues
  config/render.yaml
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
  frontend/vercel.json
  render.yaml
  vercel.json
Labels: frontend, documentation, ci/cd

feat: add save button and improve wager button visibility
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.19b5e1e9.js
  frontend/build/static/js/main.19b5e1e9.js.LICENSE.txt
  frontend/build/static/js/main.19b5e1e9.js.map
  frontend/build/static/js/main.7c0d1988.js
  frontend/build/static/js/main.7c0d1988.js.map
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/pages/GamePage.js
Labels: frontend

fix: add missing Save Scores button to UnifiedGameInterface
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.19b5e1e9.js
  frontend/build/static/js/main.19b5e1e9.js.map
  frontend/build/static/js/main.b34f0080.js
  frontend/build/static/js/main.b34f0080.js.LICENSE.txt
  frontend/build/static/js/main.b34f0080.js.map
  frontend/src/components/game/UnifiedGameInterface.js
Labels: frontend

feat: add complete button set for Wolf Goat Pig game rules
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.8ac0dd88.js
  frontend/build/static/js/main.8ac0dd88.js.LICENSE.txt
  frontend/build/static/js/main.8ac0dd88.js.map
  frontend/build/static/js/main.b34f0080.js
  frontend/build/static/js/main.b34f0080.js.map
  frontend/src/components/game/LargeScoringButtons.jsx
Labels: frontend

fix: make game buttons always visible by removing conditional rendering
  frontend/src/pages/GamePage.js
Labels: frontend

refactor: remove conditional rendering to prevent silent button failures
  frontend/src/components/game/LargeScoringButtons.jsx
Labels: frontend

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'
