Repository stuagano/wolf-goat-pig, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, tests, dependencies, ci/cd, configuration

.github/labeler.yml:

# Configuration for automatic PR labeling

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - '**/*.md'
  - docs/**/*

tests:
  - '**/test_*.py'
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/tests/**/*'

dependencies:
  - '**/requirements*.txt'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

ci/cd:
  - .github/workflows/*
  - .github/actions/*
  - '**/Dockerfile'
  - '**/docker-compose*.yml'

configuration:
  - '**/*.env*'
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/settings.py'
  - '**/config.py'

feat: simplify game setup with Quick Start button and auto-filled defaults
  frontend/src/components/simulation/GameSetup.tsx
Labels: frontend

build: update frontend build artifacts after Quick Start feature
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.6f87c74a.js
  frontend/build/static/js/main.6f87c74a.js.LICENSE.txt
  frontend/build/static/js/main.6f87c74a.js.map
  frontend/build/static/js/main.8ac0dd88.js
  frontend/build/static/js/main.8ac0dd88.js.map
Labels: frontend

feat: add multiplayer join code system with testing support
  frontend/src/App.js
  frontend/src/pages/CreateGamePage.js
  frontend/src/pages/GameLobbyPage.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/JoinGamePage.js
  frontend/src/pages/TestMultiplayerPage.js
Labels: frontend

feat: unify /game route with multiplayer join code system
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.2c59a4d9.js
  frontend/build/static/js/main.2c59a4d9.js.LICENSE.txt
  frontend/build/static/js/main.2c59a4d9.js.map
  frontend/build/static/js/main.6f87c74a.js
  frontend/build/static/js/main.6f87c74a.js.map
  frontend/src/App.js
  frontend/src/pages/HomePage.js
Labels: frontend

feat: complete multiplayer gameplay integration from lobby to game
  backend/app/main.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.2c59a4d9.js
  frontend/build/static/js/main.2c59a4d9.js.map
  frontend/build/static/js/main.62754eaa.js
  frontend/build/static/js/main.62754eaa.js.LICENSE.txt
  frontend/build/static/js/main.62754eaa.js.map
  frontend/src/components/game/UnifiedGameInterface.js
Labels: backend, frontend

feat: add player reconnection for multiplayer games
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.613f5d85.js
  frontend/build/static/js/main.613f5d85.js.LICENSE.txt
  frontend/build/static/js/main.613f5d85.js.map
  frontend/build/static/js/main.62754eaa.js
  frontend/build/static/js/main.62754eaa.js.map
  frontend/src/components/game/UnifiedGameInterface.js
  frontend/src/pages/GameLobbyPage.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/JoinGamePage.js
Labels: frontend

fix: update betting workflow test to form partnerships first
  tests/functional/test_simulation_functional.py
Labels: tests

docs: add betting action tracker design document
  docs/plans/2025-11-04-betting-action-tracker-design.md
Labels: documentation

feat: add betting event types and factory function
  frontend/package-lock.json
  frontend/package.json
  frontend/src/constants/__tests__/bettingEvents.test.js
  frontend/src/constants/bettingEvents.js
  frontend/src/setupTests.js
Labels: frontend, tests, dependencies

feat: add betting state reducer hook with event sourcing
  frontend/src/hooks/__tests__/useBettingState.test.js
  frontend/src/hooks/useBettingState.js
Labels: frontend, tests

fix: resolve stale closure bugs in useBettingState hook
  frontend/src/hooks/__tests__/useBettingState.test.js
  frontend/src/hooks/useBettingState.js
Labels: frontend, tests

feat: add BettingTracker component shell with expand/collapse
  frontend/src/components/game/BettingTracker.jsx
  frontend/src/components/game/__tests__/BettingTracker.test.js
Labels: frontend, tests

feat: add CurrentBetStatus component with team display
  frontend/src/components/game/BettingTracker.jsx
  frontend/src/components/game/CurrentBetStatus.jsx
  frontend/src/components/game/__tests__/CurrentBetStatus.test.js
Labels: frontend, tests

feat: add BettingControls component with double offer/accept/decline
  frontend/src/components/game/BettingControls.jsx
  frontend/src/components/game/__tests__/BettingControls.test.js
Labels: frontend, tests

feat: add BettingHistory component with tabbed interface
  frontend/src/components/game/BettingHistory.jsx
  frontend/src/components/game/__tests__/BettingHistory.test.js
Labels: frontend, tests

feat: integrate all betting components into BettingTracker
  frontend/src/components/game/BettingTracker.jsx
  frontend/src/components/game/__tests__/BettingTracker.test.js
Labels: frontend, tests

feat: add BettingTracker to GamePage
  frontend/src/pages/GamePage.js
Labels: frontend

feat: add betting events API endpoint
  backend/app/main.py
  backend/app/routes/__init__.py
  backend/app/routes/betting_events.py
  backend/conftest.py
  backend/tests/test_betting_events.py
Labels: backend, tests

feat: add batch sync logic with retry mechanism
  frontend/src/api/__tests__/bettingApi.test.js
  frontend/src/api/bettingApi.js
  frontend/src/hooks/useBettingState.js
Labels: frontend, tests

feat: complete betting tracker tasks 11-14
  docs/BETTING_TRACKER.md
  frontend/src/components/game/BettingTracker.jsx
  frontend/src/components/game/__tests__/BettingTracker.integration.test.js
  frontend/src/hooks/__tests__/useBettingState.test.js
  frontend/src/hooks/useBettingState.js
Labels: frontend, documentation, tests

docs: add betting tracker implementation plan
  docs/plans/2025-11-04-betting-tracker-implementation.md
Labels: documentation

fix: integrate BettingTracker into game and fix state reset
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/hooks/useBettingState.js
Labels: frontend

fix: resolve serialization errors in WolfGoatPigSimulation
  backend/app/wolf_goat_pig_simulation.py
Labels: backend

feat: add scorekeeper components and improve API endpoints
  backend/app/main.py
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/main.e56b679d.css
  frontend/build/static/css/main.e56b679d.css.map
  frontend/build/static/js/main.613f5d85.js
  frontend/build/static/js/main.613f5d85.js.LICENSE.txt
  frontend/build/static/js/main.613f5d85.js.map
  frontend/src/App.js
  frontend/src/components/game/LargeScoringButtons.jsx
  frontend/src/components/game/MobileScorecard.jsx
  frontend/src/components/game/Scorecard.jsx
  frontend/src/components/game/UnifiedGameInterface.js
  frontend/src/components/game/index.js
  frontend/src/components/simulation/RoundSummary.jsx
  frontend/src/components/simulation/ScorerMode.js
  frontend/src/components/simulation/index.js
  frontend/src/components/simulation/visual/SimulationVisualInterface.jsx
  frontend/src/pages/GamePage.js
  frontend/src/pages/GameScorerPage.js
  frontend/src/pages/SimpleScorekeeperPage.js
  frontend/src/pages/index.js
  reports/backend_unit_tests.html
  reports/test_summary.md
Labels: backend, frontend, documentation

fix: add database migration for game_state.game_id column
  backend/migrate_game_state.py
  backend/startup.py
Labels: backend

fix: ensure game_state migrations run automatically on startup
  backend/MIGRATION_GUIDE.md
  backend/app/main.py
  backend/fix_game_state_schema.py
  backend/startup.py
Labels: backend, documentation

feat: add comprehensive resilience and fallback architecture
  RESILIENCE_GUIDE.md
  backend/app/fallback_game_manager.py
  backend/app/main.py
  frontend/src/hooks/useGamePersistence.js
  frontend/src/services/offlineGameManager.js
Labels: backend, frontend, documentation

feat: add PWA support for offline golf course play
  ARCHITECTURE_OVERVIEW.md
  GOLF_COURSE_OFFLINE_GUIDE.md
  frontend/src/components/OfflineIndicator.js
  frontend/src/serviceWorkerRegistration.js
Labels: frontend, documentation

feat: add per-player usage tracking for solo, float, and option
  backend/app/main.py
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/pages/SimpleScorekeeperPage.js
Labels: backend, frontend

fix: correct Vercel routing to serve static assets properly
  frontend/vercel.json
Labels: frontend

feat: add rule compliance tracking and enforcement
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

feat: add captain rotation tracking and next rotation calculation
  backend/app/main.py
  backend/tests/test_rotation_tracking.py
Labels: backend, tests

feat: add Hoepfinger phase and Joe's Special
  backend/app/main.py
  backend/tests/test_hoepfinger.py
Labels: backend, tests

feat: add carry-over logic for push outcomes
  backend/app/main.py
  backend/tests/test_carry_over.py
Labels: backend, tests

feat: add Vinnie's Variation for 4-player games
  backend/tests/test_vinnies_variation.py
Labels: backend, tests

feat: add Phase 1 UI for rotation, Hoepfinger, and wager tracking
  frontend/src/components/game/SimpleScorekeeper.jsx
Labels: frontend

docs: add Phase 1 implementation summary
  docs/PHASE_1_IMPLEMENTATION_SUMMARY.md
Labels: documentation

feat: implement The Option auto-double for Goat Captain
  backend/app/main.py
  backend/tests/test_the_option.py
Labels: backend, tests

feat: implement The Duncan 3-for-2 solo payout
  backend/app/main.py
  backend/tests/test_the_duncan.py
Labels: backend, tests

feat: enforce Float once-per-round limit
  backend/app/main.py
  backend/tests/test_float_enforcement.py
Labels: backend, tests
